/* para página dashboard */
.contenedor {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                }

                                .cardes{
                                    box-shadow: 5px 10px 10px lightgrey;
                                }


                                .flex-wrapper {
								display: flex;
								flex-flow: row nowrap;
								}

								.single-chart {
								width: 100%;
                                justify-content: center ;
								margin: 0 auto;
								}

								.circular-chart {
								display: block;
								margin: 10px auto;
								max-width: 80%;
								max-height: 250px;
								}

								.circle-bg {
								fill: none;
								stroke: #eee;
								stroke-width: 3.8;
								}

								.circle {
								fill: none;
								stroke-width: 2.8;
								stroke-linecap: round;
								animation: progress 1s ease-out forwards;
								}

								@keyframes progress {
								0% {
									stroke-dasharray: 0 100;
                                    }
								}

								.circular-chart.orange .circle {
								stroke: #ff9f00;
								}

								.circular-chart.green .circle {
								stroke: #4CC790;
								}

								.circular-chart.blue .circle {
								stroke: #3c9ee5;
								}

								.percentage {
								fill: #666;
								font-family: sans-serif;
								font-size: 0.5em;
								text-anchor: middle;
								}
/*para ágna dashboard */

.flag {
    display: block;
    margin: auto;
    margin-top: 0px; 
    width: 1.5em;
    height: 2em;    
    padding-bottom: 0%;
    margin-bottom: 0px;
    border-radius: 0px;
    padding:0px;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 20px; 
    width: 5em;
    height: 5em;    
    padding-bottom: 0%;
    margin-bottom: 0px;
    border-radius: 10px;
}
#logo-loguin {
    display: block;
    margin: auto;
    margin-top: 20px; 
    width:8em;
    height:8em;    
    padding-bottom: 0%;
    margin-bottom: 0px;
    border-radius: 10px;
}

.avatar {
    width: 3.5em;
    border-radius: 10px;
}

.avatar2 {
    width: 2em;
    border-radius:20px;
    }

.avatar3 {
    width: 2em;
    border-radius:5px;
        }

.logo2 {
    width: 3em;
    height: 3em;
    margin-left:5px;
    margin-right:-8px;
    border-radius: 5px;
}

.TB{
    margin-top: 10px;
}

.logo2 {    
    border-radius: 5px;
}

.fondo{    
        background: linear-gradient(rgb(232, 232, 235), rgb(182, 180, 180));
    }

@media(max-width: 460px){
    .navbar{flex-direction: column;
    }
    .navbar .logo2{
        align-self:flex-start;
        margin-top: -2px;
    }
    .navbar-brand{
        visibility:hidden;
    }
    .btn{
        align-items:flex-end;
    }
    .navbar-nav{
        visibility:visible;
        margin-top: -90px;        
    }    
    #sidebarToggle{
        margin-top: -40px;
        align-self: start;
        margin-left: 60px;
    }
}
#product_item{
    width:125px;
    height:120px;
    border:2px;
    border-radius: 12px;
    border-color: rgb(34, 57, 116);
}
#btn-catg{
    width:100px;
    height:60px;
}
.img1{
        text-align: center;
        vertical-align: middle;
}
.ul{
    display: flex;
    padding: 0;
    overflow: auto;
    list-style: none;
    margin: 0;    
}
.category_item{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #f8f5f5; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 10px; /*bordes redondos*/
    font-size: 10px;
    text-align: center;
    -webkit-box-align: center;  
    align-items: center;
    box-sizing: border-box;    
    height: 32px;
    margin: 0px 8px 4px 0px;   
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    white-space: nowrap;
    border: 0.5px solid rgb(135, 153, 171);}
/*boton categorias*/
.category_list .ct_item_active{
    background: #ff9f00;
    border: 1px solid #ff9f00; /*anchura, estilo y color borde*/
}

.prod-item{
    display: block;
    padding: 0px 16px 16px;
    font-size: 16px;
}

.prod-item1{
    padding: 5px 0px;
    margin: 5px 0px;
    border-bottom: 0.5px solid rgb(195, 204, 213);
    
}

.prod-item2{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
}
.delete-item{    
    margin-left:25px;
    margin-right:15px;
    cursor: pointer;
}
.material-icons{
    margin-right: 16px;
    cursor: pointer;
    width: 24;
    height: 24;
    fill: rgb(92, 115, 137);
}
.prod-nom1{
    width: 150px;
    font-family: "Nunito Sans";
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: rgb(26, 39, 50);
    text-transform: none;
}
.prod-nom2{
    font-family: "Nunito Sans";
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: rgb(26, 39, 50);
    text-transform: none;
}
.cant{
    margin-right: 10px;
}
.cant1{    
    height: 40px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    min-height: 1.5rem;
    appearance: none;
    box-sizing: border-box;
    border-radius: 0.75rem;
    padding: 8px 12px;
    width: initial;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(195, 204, 213);
}  
.cant2{
    flex: 1 1 0%;
    text-align: center;
    display: inline-block;
    border: none;
    margin-bottom: 0px;
    outline: none;
    border-radius: 0.25rem;
    font-family: "Nunito Sans";
    line-height: 1.5rem;
    font-style: normal;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.3rem;
    font-weight: bold;    
    color: rgb(26, 39, 50);
    width: 15px !important;
}
.mas{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    fill: rgb(26, 39, 50);
    cursor: pointer;
}
.menos{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    fill: rgb(26, 39, 50);
    cursor: pointer;
}
.total1{
    padding: 16px;
    box-shadow: rgb(34 38 42 / 3%) 0.125rem -0.25rem 0.5rem, rgb(34 38 42 / 5%) 0.25rem -0.5rem 
}
.total-boton{
    background-color: rgb(26, 39, 50);
    height: 48px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    padding: 0px 16px 0px 8px;
    cursor: pointer;
    width: 100%;
}
.total2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.total3{
    background-color: rgb(57, 76, 96);
    width: 32px;
    height: 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 8px;
}
.total4{
    font-family: "Nunito Sans";
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-transform: none;
}
.total5{
    font-family: "Nunito Sans";
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-transform: none;
}
.total6{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.total7{
    font-family: "Nunito Sans";
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    margin: 0px 8px 0px 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-transform: none;
}

