logo {
    display: block;
    margin: auto;
    margin-top: 20px; 
    width: 1em;
    height: 1em;    
    padding-bottom: 0%;
    margin-bottom: 0px;
    border-radius: 10px;
}

.TB{
    margin-top: 10px;
}






